@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@300&display=swap'); 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.home__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f2329;
}
.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0d85f6;
}
.username__input {
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  border: 0;
}
.network{
  font-size: 10px;
}
@media  (max-width: 480px) {
  .network{
    font-size: 13px;
  }
}

label{
  color: white;
}

@media (max-width:480px ) {
  .username__input{
    width: 60%;
  }
}
.home__cta {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0d85f6;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
}
@media (max-width:480px ) {
  .home__cta{
    width: 30%;
  }
}
.home__cta:hover{
  background-color: #0d85f6;
  color: white;

}
.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.chat__header{
  color: white;

}
@media  (max-width:480px) {
  .chat__header{
    font-size: 15px;
  
  }
}
.channel-name{
  color: white;
  font-size: 20px;
}
@media (max-width:480px ) {
  .channel-name{
    font-size: 15px
  }
}
.chat__sidebar {
  height: 100vh;
  background-color: #1f2329;
  flex: 0.2;
  padding: 10px;
  border-right: 1px solid #0d85f6;
}
@media (max-width:480px ) {
  .chat__sidebar{
    width: 110px;
    height: 100vh;
    font-size: 20px
  }
}
.chat__main {
  height: 100%;
  flex: 0.8;
}
.chat__header {
  margin: 30px 0 20px 0;
}
.chat__users > * {
  margin-bottom: 10px;
  color: white;
  font-size: 14px;
}
.online__users > * {
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(85, 145, 169);
  font-style: italic;
}
.chat__mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px;
  background-color: #1f2329;
}
.leaveChat__btn {
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  background-color: #0d85f6;
  cursor: pointer;
  border-radius: 5px;
  color: #eae3d2;
}
.leaveChat__btn:hover{
  background-color: rgb(100, 153, 174)
}
.message__container {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  padding: 10px;
  background-color: #fdf5e1;
  height: 10vh;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}
.sendBtn {
  width: 150px;
  background-color: #0d85f6;
  padding: 10px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.sendBtn:hover {
  background-color: rgb(43, 139, 177);
}
.message__recipient {
  background-color: #fdf5e1;
  color: #0d85f6;
  width: 300px;
  padding: 10px;
  margin-right: auto;
  border-radius: 10px;
  font-size: 15px;
}
@media (max-width:480px ) {
  .message__recipient{
    width: 150px
  }
}
.message__sender {
  background-color: #0d85f6;
  color: white;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}
@media (max-width:480px ) {
  .message__sender{
    width: 150px
  }
}
.message__chats > p {
  font-size: 13px;
}
.sender__name {
  text-align: right;
}
.message__status {
  position: fixed;
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
}